* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'TT Lakes', sans-serif;
    max-width: 767.98px;
    background-color: #F8F8F8;
    /* background-color: #979797; */
}

.body-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}

.header-container {
    width: 100%;
}

.header {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #D9FFF5;
    padding: 0 15px;
    margin-bottom: 20px;
}

.header-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.header__burger {
    background: url(img/ic/burger.svg) no-repeat 50% 50%;
}

.header__design-element-1 {
    background: url(img/divider.svg) no-repeat 50% 50%;
    width: 2px;
    height: 40px;
    display: none;
}

.header__logo {
    min-width: 100px;
    height: 52px;
}

.header__call {
    background: url(img/ic/call.svg) no-repeat 50% 50%;
    display: none;
}

.header__chat {
    background: url(img/ic/chat.svg) no-repeat 50% 50%;
    display: none;
}

.header__profile {
    background: url(img/ic/profile.svg);
    display: none;
}

.header__design-element-2 {
    background: url(img/divider.svg) no-repeat 50% 50%;
    width: 2px;
    height: 40px;
    display: block;
}

.header__repair {
    background: url(img/ic/repair.svg);
}

.header__checkstatus {
    background: url(img/ic/checkstatus.svg) no-repeat 50% 50%;
}

.icon {
    width: 40px;
    height: 40px;
    border: none;
}

.main {
    width: 100%;
}

.headline {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
}

.headline__design-element {
    background: url(img/highlight.svg) no-repeat 0 50%;
    width: 4px;
    height: 40px;
}

.headline-title {
    font-size: 2em;
    font-weight: 700;
}

.headline__buttons {
    display: none;
}

.navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    margin-bottom: 30px;
}

.navigation::before {
    content: "";
    display: block;
    position: fixed;
    left: -30px;
    height: 60px;
    width: 60px;
    background: linear-gradient(90deg, #F8F8F8 55%, transparent 90%);
    border-radius: 30px;
}

.navigation::after {
    content: "";
    display: block;
    position: fixed;
    right: -30px;
    height: 60px;
    width: 60px;
    background: linear-gradient(90deg, transparent 10%, #F8F8F8 45%);
    border-radius: 30px;
}

.buttons-navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    gap: 5px;
    padding-bottom: 20px;
    margin-bottom: -20px;
}

.buttons-navigation__button {
    white-space: nowrap;
    padding: 10px;
    border-radius: 6px;
    color: #7E7E82;
    font-size: 1.1em;
    font-weight: 500;
}

.buttons-navigation__button--active {
    border: 1px #41F6D7 solid;
    margin-left: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item__text p {
    font-size: 0.9em;
    font-weight: 400;
    margin: 0 20px;
    line-height: 1.3em;
    max-height: 92px;
    overflow: hidden;
}

.read-more {
    margin-left: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.read-more__button {
    white-space: nowrap;
    font-family: 'TT Lakes', sans-serif;
    font-size: 1em;
    font-weight: 500;
}

.read-more__symbol {
    background: url(img/ic/expand.svg) no-repeat 50% 50%;
    width: 20px;
    height: 20px;
}

.item__img img {
    width: 100%;
}

footer {
    display: none;
}


@media (min-width: 768px) and (max-width: 1119.98px) {
    body {
        max-width: 1119.98px;
    }

    .header__design-element-1 {
        display: block;
    }

    .header__call {
        display: block;
    }

    .header__chat {
        display: block;
    }

    .header__profile {
        display: block;
    }

    .item {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .item__text p {
        max-height: 130px;
        overflow: hidden;
    }

    .item__img img {
        width: 90%;
        border-radius: 8px;
    }
}

@media (min-width: 1120px) {
    body {
        min-width: 1120px;
        margin: 0 auto;
    }

    .header {
        display: none;
    }

    .headline {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
    }

    .headline-title {
        margin-right: auto;
    }

    .headline__buttons {
        display: flex;
        justify-content: end;
        gap: 30px;
    }

    .headline__button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        white-space: nowrap;
        font-size: 1.1em;
        font-family: 'TT Lakes', sans-serif;
        font-weight: 500;
        margin-right: 20px;;
    }

    .headline__button-repair {
        font-size: 1em;
        font-family: 'TT Lakes', sans-serif;
        font-weight: 500;
    }
    .headline__button-checkstatus {
        font-size: 1em;
        font-family: 'TT Lakes', sans-serif;
        font-weight: 500;
    }

    .headline__repair--symbol {
        background: url(img/ic/repair.svg) no-repeat 50% 50%;
        width: 40px;
        height: 40px;
    }

    .headline__checkstatus--symbol {
        background: url(img/ic/checkstatus.svg) no-repeat 50% 50%;
        width: 40px;
        height: 40px;
    }
    .navigation::before {
        content: "";
        display: none;
    }
    .navigation::after {
        content: "";
        display: none;
    }

    .buttons-navigation {
        flex-wrap: wrap;
        margin-left: 20px;
    }

    .buttons-navigation__button--active {
        margin-left: 0;
    }

    .item {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .item__text p {
        max-height: 150px;
        overflow: hidden;
    }

    .item__img img {
        width: 95%;
        border-radius: 7px;
    }
}