* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'TT Lakes', sans-serif;
    max-width: 768px;
    background-color: #F8F8F8;
    /* background-color: #27ae3c; */
}

.body-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}

.header-container {
    width: 100%;
}

.header {
    height: 90px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 3px solid #D9FFF5;
    margin-bottom: 20px;
}

.header__burger {
    margin-right: auto;
    margin-left: 17px;
}

.header__design-element-1 {
    display: none;
}

.header__logo {
    margin-right: auto;
    padding: 10px;
    min-width: 100px;
    height: 40px;
    background-image: url(img/Logo.png);
    background-repeat: no-repeat;
    background-size: auto;
}

.header__call {
    display: none;
}

.header__chat {
    display: none;
}

.header__profile {
    display: none;
}

.header__design-element-2 {
    display: block;
}

.header__repair {
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.header__checkstatus {
    margin-left: auto;
    padding-right: 10px;
}

.main {
    width: 100%;
}

.headline {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.headline__buttons {
    display: none;
}

.headline-title {
    font-size: 28px;
    font-weight: 700;
    margin-left: 10px;
}

.navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    margin-bottom: 30px;
}

.buttons-navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    overflow-x: scroll;
    padding-bottom: 20px;
    margin-bottom: -20px;

}

.buttons-navigation__button {
    background-color: white;
    white-space: nowrap;
    padding: 10px;
    margin-left: 10px;
    border: 0;
    border-radius: 6px;
    color: #7E7E82;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
}

/* .buttons-navigation__button a {
    text-decoration: none;
    padding: 11px 0;
    color: #7E7E82;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
} */



.buttons-navigation__button--active {
    border: 1px #41F6D7 solid;
}

.item {
    display: flex;
    flex-direction: column;

}

.item__text h3 {
    font-size: 0.9em;
    font-weight: 400;
    margin-left: 20px;
    margin-right: 20px;

}

.item__button {
    background-color: white;
    white-space: nowrap;
    margin-left: 5px;
    border: 0;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}


.item__button {
    color: black;
    font-size: 1em;
    font-family: 'TT Lakes', sans-serif;
    font-weight: 500;
    margin-left: 5px;
    padding-right: 10px;
}

.item__button img {
    margin: 0;
    display: block;
}

.item__img {
    width: 100%;
    background-image: url(img/IMG_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 330px;
    margin-bottom: 50px;
}

.footer {
    display: none;
    background-color: rgb(125, 199, 125);
    border: 1px rgb(172, 33, 33) solid;
}


@media (min-width: 768.02px) and (max-width: 1120px) {
    body {
        max-width: 1120px;
    }

    .header {
        justify-content: flex-start;
        align-items: center;
        border-bottom: 3px solid #D9FFF5;
        margin-bottom: 20px;
    }

    .header__burger {
        margin-left: 25px;
    }

    .header__design-element-1 {
        display: block;
        margin-left: 20px;
    }

    .header__logo {
        margin-left: 10px;
    }

    .header__distance-block {
        width: 200px;

    }

    .header__call {
        display: block;
        margin-right: 20px;
    }

    .header__chat {
        display: block;
        margin-right: 20px;
    }

    .header__profile {
        display: block;
        margin-right: 20px;
    }

    .header__design-element-2 {
        display: block;
        margin-right: 10px;
    }

    .header__repair {
        margin-right: 20px;
    }

    .header__checkstatus {
        margin-right: 30px;
    }

    .item {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .item__img {
        width: 90%;
    }
}

@media (min-width: 1120.02px) {
    body {
        min-width: 1120px;
        margin: 0 auto;
    }

    .header {
        display: none;
    }

    .headline {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
    }

    .headline-title {
        margin-right: auto;
    }

    .headline__buttons {
        display: flex;
        justify-content: end;
    }

    /* .headline__buttons a {
        text-decoration: none;
        padding: 15px;
        color: black;
    } */

    .headline__button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        white-space: nowrap;
        margin-right: 15px;
        border: 0;
        border-radius: 20px;
        font-size: 1.1em;
        font-family: 'TT Lakes', sans-serif;
        font-weight: 500;
    }

    .headline__button img {
        padding: 10px;
    }

    .buttons-navigation {
        flex-wrap: wrap;
    }

    .item {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .item__img {
        width: 90%;
    }

}